// START IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Signika+Negative:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tillana&display=swap');
// END IMPORT FONTS

// RESET STYLESHEET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    scroll-behavior: smooth;
    // overflow-y: hidden;
}
// END RESET STYLESHEET

// DEFINE VARIABLES
$color--1: #f5ddc0;
$color--2: #fab6c2;
$color--3: #D8E2DC;
$color--4: #479a51;
$color--5: rgb(221, 159, 177);
$color--6: rgb(227, 61, 108);

$font--1: 'Signika Negative', sans-serif;
$font--2: 'Space Mono', monospace;
$font--3: 'Tillana', cursive;
$font--4: 'Open Sans', sans-serif;
// END DEFINE VARIABLES

// COMMON CLASSES
.box--max-width {
    max-width: 1300px;
}

.down {
    position: relative;
    top: 130px;
}

// CONTAINER
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    max-width: 100vw;
    padding-top: 130px;
}
// END CONTAINER

// MAIN NAVIGATION BAR
.nav {
    padding: 0px 7vw;
    width: 100%;
    height: 130px;
    background-image: url("../img/blob-scene-haikei.svg");
    background-size: cover;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
    z-index: 33;

    .nav--button {
        background: none;
        border: none;
        outline: none;
        // filter: invert(0.55);

        &:hover {
            cursor: pointer;
        }

        img {
            width: 50px;
        }
    }

    .nav--title {
        position: relative;
        color: $color--6;
        font-family: $font--2;
        font-size: clamp(23px, 7vw, 29px);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        
        img {
            width: clamp(23px, 7vw, 29px);
            position: relative;
            left: 2.5vw;
            rotate: -80deg;
        }
    }

}
.nav--list {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: #fff;
    left: -100vw;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    .nav--button {
        position: absolute;
        top: calc(130px / 2);
        transform: translateY(-50%);
        right: 7vw;
    }

    .nav--item {
        width: 100%;
        height: auto;
        text-align: center;
        margin: 7vh 0px;
        .nav--link {
            display: block;
            width: 100%;
            font-family: $font--2;
            color: $color--6;
            font-size: clamp(1.7rem, 5vw, 2rem);
            font-weight: bold;
            transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            text-transform: uppercase;
        }
    }
}
// END MAIN NAVIGATION BAR

// HEADER
.header {
    width: 100%;
    min-height: 600px;
    background-image: url("../img/landing-page-bg.jpg");
    background-position: center;
    background-size: cover;
    padding: 40px 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .header--title {
        color: #fff;
        font-family: $font--1;
        font-size: clamp(45px, 8vw, 65px);
        text-shadow: 2px 2px 3px rgba(0,0,0,0.64);
        text-transform: uppercase;
        text-align: center;
    }

    .header--link {
        color: #fff;
        font-family: $font--1;
        align-self: center;
        background: $color--6;
        padding: 10px 20px;
        border-radius: 0px;
        text-transform: uppercase;
        font-size: 1.1rem;
        -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
        box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.18);
        font-weight: 500;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            color: $color--6;
            background: #fff;
        }
    
    }

    .header--paragraph {
        color: #fff;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.64);
        font-family: $font--1;
        text-align: justify;
        max-width: 800px;
        font-size: clamp(1.2rem, 5vw, 1.4rem);
        align-self: center;
        margin: 40px 0px;


        .paragraph--span {
            text-shadow: none;
            text-transform: uppercase;
            background-image: linear-gradient(
              -225deg,
              #fff 0%,
              $color--5 100%
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
            display: inline-block;
            font-size: clamp(1.5rem, 6vw, 2rem);
        }
    }
}

.events--header {
    
    background-image: url("/img/events-header.jpg") !important;
    justify-content: center !important;
}
// END HEADER

// MAIN
.main {
    padding: 40px 7vw 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    h2 {
        position: relative;
        z-index: 5;
        margin: 30px 0px;
        font-family: $font--2;
        color: $color--6;
        font-size: 1.7rem;
        max-width: 500px;
        text-align: center;
        text-transform: uppercase;
    }
    
    p {
        position: relative;
        z-index: 5;
        font-family: $font--1;
        color: gray;
        font-size: 1.2rem;
        text-align: justify;
    }

    .main--last-paragraph {
        margin-bottom: 70px;
    }

    .main--member-impact {
        border-left: 9px solid $color--2;
        border-right: 9px solid $color--2;
        border-top: 9px solid $color--2;
        width: 100%;
        height: auto;
        background: $color--1;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 20px 7vw 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 5;
        overflow-x: hidden;

        .member-impact--title {
            font-size: clamp(2.1rem, 7vw, 2.5rem);
            font-family: $font--2;
            color: $color--6;
            text-transform: uppercase;
        }

        .member-impact--title2 {
            font-size: clamp(1.3rem, 5vw, 1.7rem);
            font-style: italic;
            font-family: $font--1;
            color: $color--5;
            text-transform: uppercase;
        }

        .member-impact--box {
            display: flex;
            flex-direction: column;

            .box--item {
                background: #fff;
                border-radius: 50%;
                text-align: center;
                padding: 10px;
                width: 170px;
                height: 170px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px 0px;
    
                .item--title {
                    font-family: $font--1;
                    color: gray;
                    font-size: 1rem;
                }
    
                .item--number {
                    color: $color--6;
                    font-size: 3rem;
                }
            }
        }

    }
}

.events-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 40px 7vw;

    .events-main--title {
        color: $color--6;
        font-family: $font--2;
        font-size: clamp(2rem, 5vw, 2.5rem);
        text-align: center;
        text-transform: uppercase;
    }

    .events-main--event {
        margin: 40px 0px;
        max-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $color--6;
        background: $color--1;
        font-family: $font--1;

        .event--title, .event--date, .event--description, .event--button {
            margin: 15px 0px;
        }

        .event--title {
            font-family: $font--2;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        
        .event--date {
            font-style: italic;
            color: gray;
        }

        .event--button {
            font-family: $font--1;
            border: none;
            outline: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            background: $color--6;
            color: #fff;
            text-transform: uppercase;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover {
                cursor: pointer;
                background: #fff;
                color: $color--6;
            }
        }
    }
}
// END MAIN

// SECTION ACTION
.action {
    position: relative;
    top: -9px;
    border-top: 9px solid $color--2;
    width: 100%;
    background: $color--1;
    height: auto;
    font-family: $font--1;
    display: flex;
    align-items: center;
    justify-content: center;

    .action--content {
        width: 100%;
        padding: 20px 7vw;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action--title {
        color: $color--6;
        font-family: $font--2;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin: 20px 0px;
    }

    .action--paragraph {
        width: 100%;
        color: gray;
        font-size: 1.2rem;
        text-align: justify;
        margin: 20px 0px;
    }
    
    .action--arrow-down {
        position: relative;
        font-size: 3.5rem;
        color: $color--6;
        rotate: 90deg;
        animation: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) alternate-reverse infinite up-and-down;
    }
}
// END SECTION ACTION

// SECTION SEPARATOR
.separator {
    position: relative;
    top: -9px;
    z-index: -1;
    width: 100%;
    height: 150px;
    background: url("../img/background-top-waves.svg");
    background-size: cover;
}
// END SEPARATOR

// GIVEAWAY
.giveaway {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 7vw 90px;
    max-width: 1300px;
    margin: auto;


    .giveaway--title {
        color: $color--6;
        font-family: $font--2;
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .giveaway--paragraph {
        font-family: $font--1;
        color: gray;
        text-align: justify;
        font-size: 1.2rem;
        margin: 20px 0px;
    }

    .last-paragraph {
        margin-bottom: 40px;
    }

    .giveaway--button {
        background: $color--6;
        font-size: 1.1rem;
        font-family: $font--1;
        color: #fff;
        border: none;
        outline: none;
        padding: 10px 20px;
        border: 2px solid $color--6;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            cursor: pointer;
            background: #fff;
            color: $color--6;
        }
    }
}
// END GIVEAWAY

// FOOTER
.footer {
    width: 100%;
    height: auto;
    background: url("/img/blob-scene-haikei.svg");
    background-size: cover;
    padding: 40px 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer--content {
        // margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        
        .content--copyrights {
            font-size: 1.2rem;
            color: $color--6;
            font-family: $font--1;
            margin: 20px 0px;
            text-align: center;
        }

        .content--items {
            display: flex;
            flex-direction: column;
            align-self: flex-start;

            .items--item {
                display: flex;
                align-items: center;
                margin: 20px 0px;

                img {
                    width: 40px;
                    margin-right: clamp(15px, 5vw, 45px);
                }

                p, a {
                    color: rgb(96, 96, 96);
                    font-family: $font--2;
                    font-size: 0.9rem;
                }

                a {
                    color: $color--6;
                }
            }
        }

        .content--paragraph {
            color: rgb(96, 96, 96);
            font-family: $font--1;
            font-weight: 100;
            font-size: 0.9rem;
            align-self: flex-start;
            margin: 20px 0px;
        }
    }
}
// END FOOTER

// ANIMATIONS
@keyframes up-and-down {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 10px;
    }
    
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
// END ANIMATIONS

// MEDIA QUERIES
@media screen and (min-width: 650px) {
    // MAIN
    .main {
        .member-impact--box {
            flex-direction: row !important;
            justify-content: space-evenly;
            width: 100%;
        }
    }
    // END MAIN
}

@media screen and (min-width: 1150px) {

    // NAVIGATION BAR
    .nav {
        justify-content: center;

        .nav--title {
            display: none;
        }

        .nav--button {
            display: none;
        }

        .nav--list {
            backdrop-filter: unset;
            position: relative;
            left: 0px !important;
            height: 80px;
            max-width: 1200px;
            justify-self: center;
            flex-direction: row;
            justify-content: space-evenly;
            background: unset;

        }

        .nav--item {
            margin: unset !important;
            text-align: center;
            // border-right: 1px solid $color--6;

            .nav--link {
                font-size: clamp(16px, 1.5rem, 28px) !important;

                &:hover {
                    letter-spacing: 2px;
                }
            }
        }
    }
    // END NAVIGATION BAR

    // HEADER
    .header--title {

        max-width: 900px;
        align-self: center;
    }
    // END HEADER

    // SEPARATOR
    .separator {
        height: 200px !important;
    }
    // END SEPARATOR
}
// END MEDIA QUERIES